<!DOCTYPE html>
<html>
  <head>
    <title>Sharetracker</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Material Design Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>

    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.name %></strong> | 
        <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %>
      <%= render 'shared/flash_messages', flash: flash %>
      <%= yield %>
    <% else %>

      <%= render "application/navbar" %>
      <%= render "application/home_section" %>
      <%= render "application/default" %>

      <script>
        new WOW().init();
      </script>

    <% end %>

  </body>
</html>